{% extends 'base.html' %}
{% load staticfiles %}
{% block stylesheet %}

{% endblock %}
{% block content %}
<!-- Main component for a primary marketing message or call to action -->
	<div class="">
	    <form method="POST" action="{% url 'register' %}" class="form-signin">
	    	{% csrf_token %}
	      	{% if form.errors %}

				<div class="alert alert-warning alert-dismissable" role="alert">
	            	<button class="close" data-dismiss="alert">
	                    <small><sup>x</sup></small>
	                </button>
		      		<p>Error in Forms</p>
		      		{% for field in form %}
		            	{% if field.errors  %}
		            		{{ field.errors }}
		            	{% endif %}
		            {% endfor %}
		        </div>
	      	{% endif %}

	      	{{ form.as_p }}
	      	<button class="btn btn-lg btn-info btn-block" type="submit">Reset Password</button>
	      	<p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
	    </form>
	</div>
{% endblock %}