{% extends 'base.html' %}
{% load staticfiles %}
{% block stylesheet %}

{% endblock %}
{% block content %}
<!-- Main component for a primary marketing message or call to action -->

	<div class="text-center">

    	{% for card in cards %}
	     	
	     		{{ card.name }}
	     	
	    {% endfor %}
	</div>	      
		  
{% endblock %}

{% block javascripts %}
	<script src="{% static "js/multiselect.min.js" %}"></script>
	<script type="text/javascript">
		    $('#multiselect').multiselect();
		});
	</script>
{% endblock %}